[user]
	name = Manyu Lakhotia
	email = lakemonyew@gmail.com
	signingKey = ""
[core]
	autocrlf = true
	excludesfile =
	mergeoptions = --no-edit
	longpaths = true
[alias]
	sweep = !git branch --merged | egrep -v \"(^\\*|^\\s*(master|develop|test)$)\" | xargs git branch -d
[pull]
	rebase = true
[push]
	default = simple
[remote "origin"]
	prune = true
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
