[user]
	name = TODO
	email = TODO@todo.net
	signingKey = ""
[core]
	autocrlf = false
	excludesfile =
	mergeoptions = --no-edit
	longpaths = true
	# if windows
	# editor = 'C:/Program Files/Git/usr/bin/vim.exe'
	# else
	# editor = 'vim'
  symlinks = true
	hooksPath = /dev/null
[merge]
  ff = false
[pull]
	rebase = true
[push]
	default = simple
  autoSetupRemote = true
[remote "origin"]
	prune = true
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[init]
	defaultBranch = master
[color]
	ui = true
# USE IF YARN/NPM GIVES YOU THIS ERROR:
#   fatal: unable to connect to github.com:
# [url "https://"]
  # insteadOf = git://
