[user]
	name = TODO
	email = TODO@todo.net
	signingKey = ""
[core]
	autocrlf = false
	excludesfile =
	mergeoptions = --no-edit
	longpaths = true
  editor = 'C:/Program Files/Git/usr/bin/vim.exe'
  symlinks = true
[merge]
  ff = false
[alias]
	sweep = !git branch --merged | egrep -v \"(^\\*|^\\s*(main|master|develop|test)$)\" | xargs git branch -d
[pull]
	rebase = true
[push]
	default = simple
[remote "origin"]
	prune = true
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
